<section class="blog-intro py-5">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Side Text -->
      <div class="col-lg-6 mb-4 mb-lg-0 text-center">
        <h2 class="blog-title text-center">
          {{ blog_intro.title }} <br>
          <span class="highlight">{{ blog_intro.highlight_title }}</span>
        </h2>
        <p class="blog-desc text-center">
          {{ blog_intro.description|safe }}
          <span class="highlight">{{ blog_intro.highlight_word }}</span> blog.
        </p>
      </div>

      <!-- Right Side Image -->
      <div class="col-lg-6 d-flex justify-content-center">
        <div class="outer-oval position-relative">
          {% if blog_intro.icon1 %}
            <img src="{{ blog_intro.icon1.url }}" alt="icon1" class="decor-icon top-right ">
          {% endif %}
          {% if blog_intro.icon2 %}
            <img src="{{ blog_intro.icon2.url }}" alt="icon2" class="decor-icon bottom-left">
          {% endif %}
          <div class="inner-oval">
            {% if blog_intro.image %}
              <img src="{{ blog_intro.image.url }}" alt="Blog Image" class="img-fluid rounded-circle">
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
